		.buttons {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: left;
			align-items: flex-end;
			margin-top: 15px;
		}
		
		.margin {
			margin-right: 12px;
			margin-bottom: 15px;
		}
		
		.btn {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
			cursor: pointer;
			color: #1e1e1e;
			border: none;
			min-width: 100px;
			min-height: 30px;
			background-color: #f7f7f7;
			text-decoration: none;
			font-size: 1rem;
		}
		
		.btn-sm {
			min-width: 70px;
			min-height: 20px;
			font-size: .8rem;
		}
		
		.btn-wd {
			min-width: 180px;
			min-height: 30px;
			font-size: 1.4rem;
		}
		
		.btn-lg {
			min-width: 130px;
			min-height: 40px;
			font-size: 1.2rem;
		}
		
		.btn-primary {
			background-color: #007bff;
			color: #fff;
		}
		
		.btn-secondary {
			background-color: #6c757d;
			color: #fff;
		}
		
		.btn-success {
			background-color: #28a745;
			color: #fff;
		}
		
		.btn-danger {
			background-color: #dc3545;
			color: #fff;
		}
		
		.btn-warning {
			background-color: #fed330;
			color: #fff;
		}
		
		.btn-info {
			background-color: #117a8b;
			color: #fff;
		}
		
		.btn-light {
			background-color: #f8f9fa;
			color: #000;
		}
		
		.btn-black {
			background-color: #1e1e1e;
			color: #fff;
		}
		
		.btn-link {
			font-bold: 400;
			color: #007bff;
			background-color: transparent;
		}
		
		/* Button Outlines */
		.btn-otl.btn-primary {
			background-color: transparent;
			border: 1px solid #007bff;
			color: #007bff;
		}
		
		.btn-otl.btn-primary:hover,
		.btn-otl.btn-primary:focus,
		.btn-otl.btn-primary:active,
		.btn-otl.btn-primary.active {
			background-color: #007bff;
			border: 1px solid ##007bff;
			color: #fff;
		}
		
		.btn-otl.btn-danger {
			background-color: transparent;
			border: 1px solid #dc3545;
			color: #dc3545;
		}
		
		.btn-otl.btn-danger:hover,
		.btn-otl.btn-danger:focus,
		.btn-otl.btn-danger:active,
		.btn-otl.btn-danger.active {
			background-color: #dc3545;
			border: 1px solid #dc3545;
			color: #fff;
		}
		
		.btn-otl.btn-warning {
			background-color: transparent;
			border: 1px solid #fed330;
			color: #fed330;
		}
		
		.btn-otl.btn-warning:hover,
		.btn-otl.btn-warning:focus, 
		.btn-otl.btn-warning:active,
		.btn-otl.btn-warning.active {
			background-color: #fed330;
			border: 1px solid #fed330;
			color: #fff;
		}
		
		.btn-otl.btn-success {
			background-color: transparent;
			border: 1px solid #28a745;
			color: #28a745;
		}
		
		.btn-otl.btn-success:hover,
		.btn-otl.btn-success:focus,
		.btn-otl.btn-success:active,
		.btn-otl.btn-success.active {
			background-color: #28a745;
			border: 1px solid #28a745;
			color: #fff;
		}
		
		.btn-otl.btn-light {
			background-color: transparent;
			border: 1px solid #f8f9fa;
			color: #000;
		}
		
		.btn-otl.btn-light:hover,
		.btn-otl.btn-light:focus,
		.btn-otl.btn-light:active,
		.btn-otl.btn-light.active {
			background-color: #f7f7f7;
			border: 1px solid #f7f7f7;
			color: #000;
		}
		
		.btn-otl.btn-black {
			background-color: transparent;
			border: 1px solid #1e1e1e;
			color: #1e1e1e;
		}
		
		.btn-otl.btn-black:hover,
		.btn-otl.btn-black:focus,
		.btn-otl.btn-black:active,
		.btn-otl.btn-black.active {
			background-color: #1e1e1e;
			border: 1px solid #1e1e1e;
			color: #fff;
		}
		
		.btn-otl.btn-secondary {
			background: transparent;
			border: 1px solid #6c757d;
			color: #6c757d;
		}
		
		.btn-otl.btn-secondary:hover,
		.btn-otl.btn-secondary:focus,
		.btn-otl.btn-secondary:active,
		.btn-otl.btn-secondary.active {
			background: #6c757d;
			border: 1px solid #6c757d;
			color: #fff;
		}
		
		
		.btn-otl.btn-info {
			background: transparent;
			border: 1px solid #117a8b;
			color: #117a8b;
		}
		
		.btn-otl.btn-info:hover,
		.btn-otl.btn-info:focus,
		.btn-otl.btn-info:active,
		.btn-otl.btn-info.active {
			background: #117a8b;
			border: 1px solid #117a8b;
			color: #fff;
		}
		
		.btn-font-bold {
			font-weight: 700;
		}
		
		.btn-rounded {
			border-radius: .3rem;
		}